.input-data {
    // border: red solid;
    margin-top: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    form {
        position: relative;
        background: linear-gradient(45deg, black, rgb(52, 51, 51));
        box-sizing: border-box;
        width: 300px;
        height: 250px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-items: stretch;
        justify-content: space-between;
        align-content: stretch;

        align-items: center;
        box-shadow: 0 0 19px rgb(255, 255, 255);
        padding: 15px 0;

        h2 {
            margin: 0 0 25px;
            height: 40px;
            text-shadow: 0 0 5px rgb(224, 27, 27);
        }

        p {
            position: absolute;
            margin: 0;
            top: 55px;
            left: 40px;
            // padding: 10px;
            width: 73%;
            overflow: hidden;
            text-shadow: 0 0 5px rgb(224, 27, 27);
        }

        .inp {
            width: 70%;
            margin-bottom: 5px;
            padding: 5px;
            outline: none;
        }
        input[type='submit'] {
            background-color: black;
            border: none;
            box-shadow: 0 0 25px white;
            color: rgb(255, 255, 255);
            margin-top: 10px;
            padding: 5px 10px;
            cursor: pointer;
        }
    }
    .item {
        margin: 10px;
        box-shadow: 0 0 15px red;
        padding: 10px;
        font-size: 25px;
    }
}
