.App {
	form {
		border: red solid 1px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.userName {
			margin-bottom: 10px;
			outline: none;
		}
		input[type="submit"] {
			background-color: rgb(255, 3, 3);
			color: white;
			border: none;
            border-radius: 3px;
            padding: 5px 10px;
            
		}
	}
}
